@font-face {
  font-family: Comic;
  src: url(./font/ComicSansMS3.ttf);
}

.navigation {
  list-style: none;
  padding-left: 0;

  display: flex;
  gap: 1em;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}
.green-text {
  color: green;
}

.colored-bg {
  font-family: 'comic', sans-serif;
  padding: 5px;
  font-weight: bold;
}

.red-bg {
  background-color: red;
}

.blue-bg {
  background-color: blue;
}
.green-bg {
  background-color: green;
}

.grey-text {
  color: rgb(78, 78, 78);
}
