:root {
  --color-main: #b8cb21;

  --padding-width-content: 2em;
}

body {
  background-image: url('../img/fond.png');
}

.content-wrapper {
  margin: 1em auto;
  max-width: 1200px;

  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-main);
  color: whitesmoke;

  padding: 0 var(--padding-width-content);
}

.navigation {
  list-style: none;
  display: flex;
  gap: 1em;
}

.navigation a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.content {
  padding: var(--padding-width-content);
  display: flex;
}

.content section {
  padding: 0 1em;
}

.red-border-left {
  border-left: 2px solid red;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.15em;
}

.title,
.subtitle {
  color: var(--color-main);
}

.content__left {
  max-width: 40%;
}

.content__left img {
  width: 100%;
}

.btn-conntainer {
  display: flex;
  justify-content: end;
}

.btn {
  background-color: var(--color-main);
  padding: 8px 32px;
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

.btn-link {
  text-decoration: none;
  display: inline-block;
}

.btn-form {
  max-width: fit-content;
}

.floated__image {
  width: 50%;
  float: left;
  margin: 0 1em 0 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icon a {
  padding-left: 0.5em;
}

.icon {
  color: gray;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.contact_form {
  width: 250px;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: auto;
  height: 100%;
}

.gmap_iframe {
  width: 100% !important;
  height: 100% !important;
}

.map {
  width: 100%;
}
